# Node modules
node_modules/

# Build outputs
dist/
build/

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env
.env.*

# FastAPI model + temp files
models/
*.pkl
*.tmp

# VSCode settings (optional)
.vscode/

# OS-specific
*.swp
